/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "themes/alert-message";
@import "themes/avatar";
@import "themes/background-images";
@import "themes/card";
@import "themes/codeblock";
@import "themes/color";
@import "themes/custom-buttons";
@import "themes/divider";
@import "themes/footer";
@import "themes/forms";
@import "themes/logo";
@import "themes/pricing";
@import "themes/spacing";
@import "themes/titles";
@import "themes/testimonials";
@import "themes/utilities";


.lead {
  margin-bottom: 1.5rem;
  line-height: 1.875rem;
  display: block;
  font-weight: 400;
}

.card {
  border: 2px solid #f1f1f1;
  border-radius: 0;
}

/*
* Boostrap 4
* Remove blue outline from button
*/

.btn:focus,
.btn:active {
  box-shadow: none;
}

/*
 * center modal dialog vertically
 */

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

.bg-light {
  background-color: #e9ecef !important;
}

.footer {
  margin-top: 50px;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  padding: 20px;
  background-color: #f5f5f5;
}

.content {
  margin-top: 1rem;
}
