<div id="footer">
  <footer class="site-footer bgc-blue-grey-50">
    <div class="container">
      <nav>
        &copy; {{ site.time | date: "%Y" }}
        <a href="{{ site.inc.url }}">{{ site.inc.company }}</a>
        <span class="visible-xs">&middot;
        </span>
      </nav>
      <nav class="social">
        <div>
          <a href="https://twitter.com/{{ site.inc.twitter }}" target="_blank">
            <i class="icon icon--xs icon--grey icon--circled mdi mdi-twitter"></i></a>
          <a href="http://facebook.com/{{ site.inc.facebook }}" target="_blank">
            <i class="icon icon--xs icon--grey icon--circled mdi mdi-facebook"></i></a>
          <a href="https://plus.google.com/u/0/{{ site.inc.gplus }}" target="_blank">
            <i class="icon icon--xs icon--grey icon--circled mdi mdi-google-plus"></i></a>
          <a href="http://github.com/{{ site.inc.github }}" target="_blank">
            <i class="icon icon--xs icon--grey icon--circled mdi mdi-github-circle"></i></a>
          <a href="/feed.xml" title="RSS Feed">
            <i class="icon icon--xs icon--orange icon--circled mdi mdi-rss"></i></a>
        </div>

      </nav>
    </div>
  </footer>
</div>
{% include _scripts.html %}
</body>

</html>
