<header class="header">
    <h1 class="main-logo">
        <a href="/" class="main-logo__link" lx-ripple="white">
            <img src="/images/{{ site.inc.logo }}">
        </a>
    </h1>
    <a href="/">
    <span class="toolbar__label fs-title main-nav--lap-and-up" lx-ripple="white">Lovell Felix</span></a>

    <nav class="main-nav main-nav--lap-and-up">
        <ul>
            <li><a href="{{ site.inc.blog_link }}" class="main-nav__link" lx-ripple="white">Blog</a></li>
            {% if site.inc.labs_link %}
            <li><a href="{{ site.inc.labs_link }}" class="main-nav__link" lx-ripple="white">Labs</a></li>
            {% endif %}
            {% if site.inc.testimonials_link %}
            <li><a href="{{ site.inc.testimonials_link }}" class="main-nav__link" lx-ripple="white">Testimonials</a></li>
            {% endif %}
            {% if site.inc.labs_link %}
            <li><a href="{{ site.inc.resume_link }}" class="main-nav__link" lx-ripple="white">Resume</a></li>
            {% endif %}

        </ul>
    </nav>

    <nav class="main-nav main-nav--palm">


    <button class="btn btn--m btn--white btn--icon" lx-ripple="white">
        <i class="mdi mdi-dots-vertical"></i>
    </button>




    </nav>
</header>
