<!--<section class="site-nav">
    <header>
    <div class="container">
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="Inc">
            </a>
            <a href="{{ site.inc.blog_link }}" class="home">Blog</a>
            {% if site.inc.labs_link %}<a href="{{ site.inc.labs_link }}">Labs</a>{% endif %}
            {% if site.inc.about_link %}<a href="{{ site.inc.about_link }}">About</a>{% endif %}
        </nav>
        {% if site.inc.tagline or site.inc.labs_url %}<nav class="tagline">
        {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
        {% if site.inc.labs_link %}<a href="{{ site.inc.labs_link }}" class="btn btn-outline">Learn More</a>{% endif %}
    </nav>{% endif %}
    </div>
    </header>
</section>-->


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-logo hidden-x" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="Lovell Felix">
            </a>


            <button type="button" class="navbar-toggle" data-toggle="dropdown">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



            <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ site.inc.blog_link }}" class="home">Blog</a></li>
                    {% if site.inc.labs_link %}<li><a href="{{ site.inc.labs_link }}">Labs</a></li>{% endif %}
                    {% if site.inc.about_link %}<li><a href="{{ site.inc.about_link }}">About</a></li>{% endif %}
                </ul>
            </ul>




        </div>

        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.inc.blog_link }}" class="home">Blog</a></li>
                {% if site.inc.labs_link %}<li><a href="{{ site.inc.labs_link }}">Labs</a></li>{% endif %}
                {% if site.inc.about_link %}<li><a href="{{ site.inc.about_link }}">About</a></li>{% endif %}

            </ul>

            <ul class="nav navbar-nav navbar-right">
               <!-- <li><a href="#">Link</a></li>-->

            {% if site.inc.tagline or site.inc.labs_url %}<nav class="tagline">
                {% if site.inc.tagline %}<span>{{ site.inc.tagline }}</span>{% endif %}
                {% if site.inc.labs_link %}<a href="{{ site.inc.labs_link }}" class="btn btn-outline">Learn More</a>{% endif %}
            </nav>{% endif %}


            </ul>
        </div>






        <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>