<!DOCTYPE html>
<html ng-app="lfModule">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.blog_subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}lib/mdi/css/materialdesignicons.css">
    <link rel="shortcut icon" href="/images/{{ site.inc.logo }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <link rel='me' href='https://plus.google.com/{{ site.inc.gplus }}' />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %}
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html}}"/>
    <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}" />
</head>

<body>
