---
layout: base
title: Blog
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.blog_title }}</h1>
            {% if site.inc.blog_subtitle %}<h3>{{ site.inc.blog_subtitle }}</h3>{% endif %}
                  
        </div>
    </section>
</div>


<article class="container">

{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
        
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title | upcase }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>

        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination center-block">

        {% if paginator.total_pages > 1 %}
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline">&laquo; Prev</a>
            {% else %}
            <span class="btn btn-outline">&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <em>{{ page }}</em>
            {% elsif page == 1 %}
            <a href="{{ 'blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-outline">Next &raquo;</a>
            {% else %}
            <span class="btn btn-outline">Next &raquo;</span>
            {% endif %}

        {% endif %}
    </section>
</article>
