---
layout: default
blog: true
---

<section class="bg-light text-dark height-20 mt-4">
  <div class="container">
    <h1>{{ site.blog_title }}</h1>
    {% if site.blog_subtitle %}
    <h4>{{ site.blog_subtitle }}</h4>
    {% endif %}
    </div>
</section>
<div class="container">
  <div class="row justify-content-center">
    {% for post in paginator.posts %}
       {% unless post.draft %}
    <div class="col-12 col-md-10 col-lg-8 mt-4">
      <h1 class="font-weight-bold">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <div class="entry mt-4">
        {{ post.excerpt }}
      </div>
    
      <small><span class="text-muted text-uppercase">Written By {{ post.author.name }} &mdash; {{ post.date | date: "%B %d, %Y" }}</span></small>
      <hr class="mb-4 mt-4">

    </div>
     {% endunless %}
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      </li>
      {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
      <li class="page-item">
        <a class="page-link" href="#">{{ page }}</a>
      </li>

      {% elsif page == 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      </li>
      {% endif %} {% endfor %} {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
      {% endif %}
    </div>
  </ul>
</nav>
{% endif %}