---
layout: base
title: Labs
---

<div class="labs-cover bgc-blue-grey-300">

    <section>
        <div class="container">
          <span class="fs-display-2 display-block tc-white-1">{{ site.inc.labs_title}}</span>
          {% if site.inc.labs_subtitle %}
          <span class="fs-headline display-block tc-white-1">{{ site.inc.labs_subtitle }}</span>
          {% endif %}

        </div>
    </section>
</div>
<div class="container">


<div class="row projects">
    {% for project in site.labs %}
    <div class="col-sm-6 col-md-4 pad">
      <div class="card">
        <div class="card__img card__img--top">
          <a href="{{ project.url }}" lx-ripple="white">
            <img src="{{ project.thumbnail }}" lx-ripple="white">
            {% if project.graduated != false %}
            <span class="fs-headline tc-white-1 display-block">
              <i class="icon icon--l icon--orange icon--flat mdi mdi-trophy"></i></span>
              {% endif %}
            </a>
        </div>

        <div class="p+ desc">
          <a href="{{ project.url }}" lx-ripple="white">
            <span class="fs-title tc-black-2 display-block">{{ project.title }}</span></a>
            <div class="paragraph fs-body-1">
                <p>
                  {{ project.short-description }}
                </p>
            </div>
        </div>
      </div>
    </div>



    {% endfor %}

</div>

</div>
