html,
body {
  height: 100%;
  margin:0;
  border:0;
  font-family:$font;
  color:$text;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  font-size:17px;
  background-color: $blue-grey-100;
}

/*sticky footer */

#wrap {
  min-height: 99%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
}



.is-visible {

  .site-nav {
    top:100px;
  }

  .top-nav {
    opacity:1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transition:0.3s all ease;
    top:-200px;
  }
}



h1, h2 {
  font-family:$fontheadings;
}

a {
  color:$accent;
  text-decoration:none;
  transition:all 0.2s ease;

  &:hover {
    color:darken($accent, 5%);
    text-decoration:none;
  }
}

.container {
  max-width:992px;
  margin:0 auto;
}

.article-cover {
  max-width: 100%;
  margin-top: 0;
  position: relative;
  max-height:460px;
  overflow:hidden;
  background:#eee;

  > div {
    max-height: 480px;
    line-height: 0;
  }

  .image {
    width: 100%;
    top: 0;
    position:relative;
  }
}




.index {
  margin:0 5em;

  > div{
    display:table-cell;
  }

  .title {
    margin:0em 0 0.6em;
  }

  .avatar {
    float:left;
    border-radius:62px;
    height:48px;
    width:48px;
    margin-top:0;
    margin-right:30px;
  }
}



.index-cover {

  height: 60px;
  background-color: $accent;
  background-position: center center;
  z-index: 1;


  section {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;


  }


}


.parallax {
  background-size: cover;
  color: #fff;
  width: 100%;
  overflow: hidden;

  .logotext {

    top: 35%;

  }

  .text {
    position: fixed;
    left: 50%;
    line-height: 1.2;
    margin-left: -12em;
  }
}



.blog-cover {
  @extend .article-cover;
  height: 250px;
  background-color:#111;
  background-size:cover;
  background-position:center center;
  z-index:1;

  .container {

    padding-top: 50px;
  }
  section {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;

    padding: 50px 0;
    z-index:10;

    a {
      color:#fff;
      border:0;
      width:36px;
      height:36px;
      border:2px solid rgba(255,255,255,1);
      display:inline-block;
      padding:10px 0;
      border-radius:42px;
      margin:1.5em 1em 0em 0;
      transition:0.2s all ease;
      line-height:0;
      text-align:center;

      &:hover {
        transition:0.2s all ease;
        background:#fff;

        .icon-rss {
          background-position:1px -11px;
        }

        .icon-twitter {
          background-position:0px -15px;
        }

        .icon-facebook {
          background-position:0px -14px;
        }
      }
    }
  }

  h1 {
    font-size:2.7em;
    line-height:1.4em;
  }

  h3 {
    font-size:1.3em;
  }

  h1, h3 {
    color:#fff;
    margin:0;
    font-weight:600;
  }

}

.labs-cover {
  @extend .article-cover;
  height: 250px;
  background-color:#111;
  background-position:center center;
  z-index:1;

  .container {

    padding-top: 50px;
  }

  section {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;


    padding: 50px 0;
    z-index:10;

    a {
      color:#fff;
      border:0;
      width:36px;
      height:36px;
      border:2px solid rgba(255,255,255,1);
      display:inline-block;
      padding:10px 0;
      border-radius:42px;
      margin:1.5em 1em 0em 0;
      transition:0.2s all ease;
      line-height:0;
      text-align:center;


    }
  }

  h1 {
    font-size:2.7em;
    line-height:1.4em;
  }

  h3 {
    font-size:1.3em;
  }

  h1, h3 {
    color:#fff;
    margin:0;
    font-weight:600;
  }

}
.pagination {
  text-align:center;
}

.site-footer {
  padding:20px 0;
  font-size:0.8em;

  a {
    color:#777;
    border:0;
    margin:0 0.5em;

    &:hover {
      color:#222;
    }
  }

  p {
    color:#999;
    a {
      margin:0;
      color:#999;
    }
  }

  nav {
    display:inline-block;
  }

  .social {
    float:right;

    a {
      color:#000;
      border:0;
      width:24px;
      height:24px;
      border:2px solid rgba(0,0,0,1);
      display:inline-block;
      padding:4px 0;
      border-radius:42px;
      margin:0 1em 0em 0;
      transition:0.2s all ease;
      line-height:0;
      text-align:center;
      opacity:0.3;

      &:hover {
        opacity:0.9;
      }
    }
  }
}

.muted {
  color:$textmuted;
}


.btn-outline {
  background: none;
  border-radius: 4px;
  border:2px solid $accent;
  border-radius: 3px;
  color:darken($accent, 5%);
  transition:none;

  &:hover {
    border:2px solid darken($accent, 5%);
    color:darken($accent, 10%);
    background:none;
  }
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0 0 20px;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: rgb(88, 88, 88);
  border-left: 0px;
}
blockquote:before {
  display: block;
  /*content: "\201C"; TODO I need to figure this out*/
  font-size: 80px;
  position: absolute;
  top: -30px;
  color: #7a7a7a;
}
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

hr.soften {
  height: 1px;
  margin: 20px 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  border: 0;
}


/* PORTFOLIO */

.projects {
  padding-top:80px;

}

.projects .col-sm-6 .col-md-4 {
  margin-top:15px;
}


.projects img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  background:$accent;
}

.pad {
  margin-bottom: 20px;
}
/* bottom description in projects */
.desc {
  margin-top:0px;
  padding:10px;
  color:$text;
  min-height: 120px;
}

.desc h5 {
  font-size:17px;
  font-weight: bold;
  align-content: right;
}

.desc p {
  font-size:14px;
}

.desc:hover h5 {
  color:$accent;
}

.p_title {
  border-bottom: 1px solid rgb(233, 233, 233);
  height: 10px;
  line-height: 20px;
  text-align: left;
  font: bold 17px arial,sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 15px;
}

.st {
  background-color: rgb(255, 255, 255);
  display: inline;
  padding-right: 10px;
}

    #landing {
    margin-top: 15px;
    overflow: hidden;
    padding-left: 140px;
    }

    #landing div a:hover,
    #landing div a:active {
    border: 1px solid #e5e5e5;
    box-shadow: inset 0 0 20px #ebebeb;
    }
    #landing div a {
    background: rgb(250, 250, 250) no-repeat center;
    border: 1px solid rgb(242, 242, 242);

    display: block;
    margin-bottom: 20px;
    min-height: 65px;
    transition: all .5s;}

    #landing div {
    float: left;
    padding-right: 10px;

    margin-right: 0;
    width: 16.666666%;
    }


    .dp
    {
        border:5px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;

        /*-webkit-font-smoothing:antialiased;*/
    }
