.dropdown-menu {
  top: 90%;
  right: 10px;
  padding: 6px 0;
  margin: 1px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.dropdown-menu:before, .dropdown-menu:after {
  position: absolute;
  top: -7px;
  right: 20px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0,0,0,0.2);
  content: '';
}