.site-nav {
    background:#fff;
    height:80px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;

    .caret {
        opacity:0.2;
    }

    .brand img {
        height:44px;
        /*margin-left:175px; TODO Need to figure this out  navigation on small screens*/
        margin-top:-2px;
    }

    .dropdown {
        display:inline-block;
    }

    nav {
        padding:22px 30px;
        float:left;
        height:80px;
        display:table-cell;
    }

    #navigation {
        padding-right:0;

        a {
            border:0;
            margin:0 0.9em;
            display:inline-block;

            &:hover {
                color:$accent;
            }
        }

        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }

        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;

            &:hover {
                background:#eee;
            }
        }
    }

    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;

        span {
            line-height:0;
            padding-right:20px;
        }
    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}

.navbar-logo {
  padding: 2px 2px;
  margin-right: 2px;
}

.navbar-logo img {
  height: 38px;
  width: 38px;
}

.navbar-default {
  background:#fff;
  left:0;
  right:0;
  top:0;
  box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition:all 0.35s ease;
  z-index:100;


}


.container>.navbar-header {
   margin-left: 0px;
}

.navbar-default .navbar-toggle {

  float: right;
  border-color: #fff;
}

.tagline {
  float:right;
  text-align:right;
  font-size:15px;
  font-weight:600;
  padding-top: 8px;

  span {
    line-height:0;
    padding-right:20px;
  }
}

///*------------------------------------*\
//    #MODULES-COMMON-HEADER
//\*------------------------------------*/

// Header base styles
.header {
  @include position(fixed, 0 0 null 0);
  z-index: 999;
    height: 60px;
    padding: $base-spacing-unit * 1.5;
    background-color: $darkPrimaryColor;
    @include clearfix;
}



// Menubar
.menubar {
  @include media-query(palm) {
    display: none;
  }

  @include media-query(portable) {
    float: left;
  }
}

.home .menubar {
  display: none;
}


// Main Logo
.main-logo {
  float: left;
}

  // Main Logo Link
  .main-logo__link {
    display: block;
    padding: 0px 6px;
    border-radius: $base-round;
    @include font-size(24px);

    img {
      display: block;
      height: 42px;
    }
  }


// Main Nav
.main-nav {
  float: right;

  ul {
    @extend %bare-list;

    li {
      float: left;
    }
  }
}

.main-nav--lap-and-up {
  @include media-query(palm) {
    display: none;
  }
}

.main-nav--palm {
  @include media-query(lap-and-up) {
    display: none;
  }
}

  // Main Nav Link
  .main-nav__link {
    display: block;
    padding: 0 $base-spacing-unit * 1.5;
    border-radius: $base-round;
    @include font-size(18px);
    font-weight: 500;
    color: white;
    line-height: 36px;
    text-decoration: none;

    @include media-query(lap) {
      @include font-size(14px);
    }
  }
