---
layout: base
title: Sample Portfolio Layout
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}


        </div>
    </section>
</div>


<article class="container">

    {% for project in page.projects %}
    <div class="media">
        <a class="pull-left" href="/labs/{{ project[0] }}">
            {% if project[1].promo_img %}
            <img src="{{ project[1].promo_img.url }}" class="img-rounded" title="{{ project[1].promo_img.title }}" alt="{{ project[1].promo_img.alt }}" height="72" width="72" />
            {% endif %}
        </a>
        <div class="media-body">
            <h4 class="media-heading"><a href="/labs/{{ project[0] }}">{{ project[1].name }}</a></h4>
            <p>{{ project[1].snippet }}</p>
        </div>
    </div>
{% endfor %}


    <div class="bs-example">

        <div class="row">
        {% for project in page.projects %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                {% if project[1].promo_img %}
                    <img src="{{ project[1].promo_img.url }}" alt="300x200" style="width: 300px; height: 200px;" src="">
                    {% endif %}
                    <div class="caption">
                        <h5>{{ project[1].name }}</h5>
                        <p>{{ project[1].snippet }}</p>
                        <p></p>
                    </div>
                </div>
            </div>

            {% endfor %}

            
            
        </div>



    </div>



</article>

</div>

