---
layout: default
title: Labs
---

<section class="bg-light text-dark height-20 mt-4">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <small>
      {% if page.screenshot != empty %}
      <a href="{{ page.demo.source_url }}">
      <i class="fab fa-github-square fa-lg text-dark"></i>
      <span class="text-muted">Repository</span></a>
      {% else %}
      <i class="fab fa-github-square fa-lg text-dark"></i>
      <span class="text-muted">:(</span>
       {% endif %}
    </small>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-8 col-lg-7">
        {% if page.screenshot != empty %}
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for pics in page.screenshot%}
            <div {% if forloop.rindex <=2 %} class="carousel-item" {% else %} class="carousel-item active" {% endif %}>
              <img class="d-block w-100" src="{{ pics }}" alt="First slide">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        {% else %}
        <img src="{{ page.thumbnail }}" class="img-fluid" alt="{{ page.title }}"> 
        {% endif %}
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              <span class="h6">Description</span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <p class="card-text">{{ content }}</p>
            <a href="{{ page.demo.source_url }}" class="btn btn-primary">
              <i class="fas fa-external-link-alt"></i> {{ page.demo.title }}</a>
            <a href="{{ page.demo.source_url }}" class="btn btn-outline-danger">{{ page.demo.source_title }}</a>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header d-flex justify-content-between">
            <div>
              <span class="h6">Technology</span>
              <!-- <span class="badge badge-secondary">6</span> -->
            </div>
          </div>
          <div class="card-body">
            {% for techs in page.techUsed %}
            <span class="badge badge-pill badge-primary">{{ techs | upcase }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

