---
layout: base
---

<!--<div class="labs-cover" style="background-image:url(/images/{{ site.inc.labs_cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.labs_title}}</h1>
            {% if site.inc.labs_subtitle %}<h3>{{ site.inc.labs_subtitle }}</h3>{% endif %}

        </div>
    </section>
</div>-->

<div id="wrap">

  <article class="container">

    <div class="p_title">
      <div class="st">{{ page.name }} </div>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-8">
        <img src="{{ page.promo_img.url }}" alt="...">
      </div>
      <div class="col-xs-12 col-md-4">
        <p></p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
          </div>
          <div class="panel-body">
            {{ page.description }}
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Technology</h3>
          </div>
          <div class="panel-body">

            {% for techs in page.techUsed %}

            <span class="label label-default">{{ techs | upcase }}</span>

            {% endfor %}

          </div>
        </div>

        <div class="p_title">
          <div class="st"> Explore </div>

        </div>

        <div class="row">

          <div class="col-xs-6 col-md-8">Try</div>
          <div class="col-xs-6 col-md-4">
            <a href="{{ page.demo.url }}">
              <button type="button" class="btn btn-primary col-xs-7 col-md-12">{{ page.demo.title }}</button>
            </a>
          </div>
          <div class="col-xs-6 col-md-8"></div>
          <div class="col-xs-6 col-md-4"></div>

          <div class="col-xs-6 col-md-8">View Source</div>
          <div class="col-xs-6 col-md-4">
            <a href="{{ page.demo.source_url }}">
              <button type="button" class="btn btn-danger col-xs-7 col-md-12">{{ page.demo.source_title }}</button>
            </a>
          </div>

        </div>

      </div>
    </div>
  </article>


  </section>


</div>
