---
layout: base
---





<!---{% if page.image %}
  <div class="span5 logo">
    <img src="{{ page.promo_img.url }}" title="{{ page.promo_img.title }}" alt="{{ page.promo_img.alt }}" />
  </div>
{% endif %}

<div class="span10">
  <h1>{{ page.name }} {{ page.promo_img.url }}</h1>
  <p>{{ page.description }}</p>

  {% if page.website %}
    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}
</div>

<div id="project-description" class="span16">
  <h3>What we did for {{ page.title }}:</h3>
  {{ page.project_description }}
</div>

{% if page.endorsements %}
  <div id="endorsements" class="span16">
    <h3>What {{ page.title }} had to say about us:</h3>

    {% for endorsement in page.endorsements %}
      <blockquote>
        {{ endorsement.body }}
        <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
      </blockquote>
    {% endfor %}
  </div>
{% endif %}-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
</div>

<section id="content" class="container">
    <article class="ten columns offset-by-four" id="article-content">
        <!-- <header class="ten columns" id="article-header">
                <h1>Suncani Mobile</h1>
              </header> -->

        <div class="ten columns gray" id="date-header">
            <p>


            </p>

        </div>

        <div class="ten columns" id="article-content">
            <div class="hero-unit">
                <div class="row">
                    <div class="span8">
                        <h1>Suncani Mobile</h1>
                        <p>


                            Hotel business in Hvar, Croatia

                        </p>
                    </div>
                    <div class="span4 project-links ac" rel="tooltip" data-original-title="Use keyboard arrows - up">


                        <a rel="shortcut" data-key="up" href="/en/portfolio"><sup class="icon-chevron-up"></sup> &nbsp;Back to list</a>


                    </div>
                </div>
            </div>

            <hr>

            <section class="row" id="project">

                <!-- <h1 class="span12">
                                Suncani Mobile
                            </h1> -->
                <!-- portfolio item-->
                <div class="span8 project">
                    <div class="thumbnail keep-plain">
                        <img src="/static/assets/projects/618x586/suncani.jpg" title="Suncani Mobile" alt="">

                    </div>

                    <!-- <div class="thumbnail zoom">
                                        <a href="project.html" title="">
                                            <img alt="" src="http://placehold.it/618x386/74C676s/fff" />
                                        </a>
                                    </div> -->

                </div>
                <div class="span4 project-description">

                    <h4>Client</h4>
                    <p>
                        — Agence Tuesday
                    </p>



                    <h4>Year</h4>
                    <p>
                        — 2012
                    </p>


                    <h4>Project overview</h4>
                    <p>


                        My work was to develop the mobile version of Suncani Hvar hotels portal.


                    </p>


                    <h4>Technology</h4>
                    <ul class="list-style">

                        <li class="icon-ok techno-html5">HTML5</li>

                        <li class="icon-ok techno-css3">CSS3</li>

                        <li class="icon-ok techno-drupal">Drupal 7</li>

                    </ul>



                    <h4>Visit site</h4>
                    <p class="website"><a href="http://www.suncanihvar.com" target="_blank">http://www.suncanihvar.com</a></p>





                </div>
                <!-- end portfolio item-->

            </section>

            <br>





        </div></article>
</section>


